# Apple
.DS_Store

# Bazel
bazel-*

# JetBrains
.idea/

# Misc
.swp

# Protocol Buffers
*.pb.h
*.pb.cc

# Python
__pycache__
*.pyc

# XCode
ios/lm_keyboard.xcodeproj/project.xcworkspace/
ios/lm_keyboard.xcodeproj/xcuserdata/
